<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SyncKing-Kong{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to SyncKing-Kong</h1>
        </header>


        {% block content %}
        
        {% endblock %}

    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
