{% extends 'base.html' %}

{% block title %}Setup SyncKing-Kong{% endblock %}

{% block content %}

    <h1>Step 1: Setup SyncKing-Kong</h1>
    <p>With one button: it's really that easy!</p>
    <form method="post" action="/">
        <button type="submit" class="btn-primary">Start SyncKing-Kong Setup</button> 
    </form>
    <p>👈 This will setup the environment and install the requirements to perform lip syncing.</p>
    
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}
    
{% endblock %}
